input {
    width: 100px;
    height: 20px;
  }
  
  button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }

h1 { color: red; }
p { font-weight: bold; }
img { width: 400px; height: 600px; }

