input {
    width: 100px;
    height: 20px;
  }
  
  button {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }